include /_mixins

doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    +stylesheetLinkTag('application')
    +javascriptIncludeTag('vendor/all')
    +javascriptIncludeTag('handlebarsTemplates')
  body
    header
      #cart
    main
      block content

    +javascriptIncludeTag('application')
    +javascriptIncludeTag('models/album')
    +javascriptIncludeTag('collections/albums', 'collections/cartItems')
    +javascriptIncludeTag('views/album', 'views/newAlbum', 'views/index', 'views/cart')
    script(type='text/javascript').
      App.albums = new Albums(!{JSON.stringify(albums)});
    +javascriptIncludeTag('router')
    block scripts
