<form action="/albums" method="post">
  <legend>Add Album</legend>
  <fieldset>
    <dl>
      <dt>Title</dt>
      <dd>
        <input id="title" type="text" name="title">
      </dd>
      <dt>Artist</dt>
      <dd>
        <input id="artist" type="text" name="artist">
      </dd>
      <dt>Date</dt>
      <dd>
        <input id="date" type="date" name="date">
      </dd>
      <dt>Cover</dt>
      <dd>
        <input id="url" type="url" name="cover">
      </dd>
      <dt>Price</dt>
      <dd>
        <input id="price" type="text" name="price">
      </dd>
    </dl>
  </fieldset>
  <fieldset class="actions">
    <input type="submit" value="Create">
  </fieldset>
</form>
